@import "tailwindcss";

@theme {
  --color-light-pink: #9e7bff;
  --color-rosewood: #893bff;
  --color-raspberry: #842dce;
  --color-mauve-brown: #634A45;
  --color-plum-brown: #0f0c3c;
  --color-ocean: #a9bcd9;

  --font-pixelify: var(--font-pixelify);
  --font-jersey: var(--font-jersey);
}

html {
  scroll-behavior: smooth;
}